.not__approved{
    font-size: 22px;
    color: orangered;
    margin-bottom: 30px;
    line-height: 1.6;
    border-bottom: 1px solid $c7;
}

.page__heading{
    font-size: 22px;
    color: $c3;
    font-weight: 500;;

    & svg{
        width: 20px;
        height: 20px;
        fill: $c7;
        margin-right: 10px;
    }
}