.h-100vh{
    min-height: 100vh;
}

.p-30{
    padding: 30px;
}

.shadow{
    box-shadow: 0px 0px 12px  rgba(0,0,0,0.1);
}

.content-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-30{
    margin: 30px 0;
}

.mb-30{
    margin-bottom: 30px;
}