//colors
//bg
$c1: #f2f7fd;
//header text
$c2: #565e85;
//headings
$c3: #3f4583;
//buttons
$c4: #3e4685;

//icons bg
$c5: #e5e8f7;

//blackg
$c6: #222;

// font-color: 

$c7: #afacac;

//font-family
$f: 'Roboto', sans-serif;