.footer{

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: $c1;

    & a{
        text-decoration: none;
    }
    

    & a:not(:last-child){
        margin-right: 40px;

    }

    & svg{
        width: 20px;
        height: 20px;
        fill:$c7;
        
    }

    & a.active svg{
        fill: $c3;
    }

    & a:hover svg{
        fill: $c3;
    }
}